{% load humanize %}<html><head><title>White House ethics disclosures</title>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.js"></script>

	<!-- Tablesorter -->
    <link rel="stylesheet" href="http://s3.amazonaws.com/wtmedia/libraries/theme.blue.css">
	<script src="http://s3.amazonaws.com/wtmedia/libraries/jquery.tablesorter.js"></script>
	<script src="http://s3.amazonaws.com/wtmedia/libraries/jquery.tablesorter.widgets.js"></script>

	<link class="ui-theme" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://s3.amazonaws.com/wtmedia/libraries/jq.css">



	<script>
	$(function(){
		$('.accordion').accordion({
			autoHeight: false,
			collapsible : true
		});
	});
	</script>

	<script id="js">$(function() {

	// call the tablesorter plugin
	$("#table").tablesorter({
		theme: 'blue',

        headers: {
            4: { sorter: 'date' }, // column number, type
            5: { sorter: 'digit' } // column number, type
        },
                 
		// hidden filter input/selects will resize the columns, so try to minimize the change
		widthFixed : true,

		// initialize zebra striping and filter widgets
		widgets: ["zebra", "filter"],

		widgetOptions : {

			// if true, a filter will be added to the top of each table column;
			// disabled by using -> headers: { 1: { filter: false } } OR add class="filter-false"
			// if you set this to false, make sure you perform a search using the second method below
			filter_columnFilters : true,

			// css class applied to the table row containing the filters & the inputs within that row
			filter_cssFilter : 'tablesorter-filter',

			// if true, filters are collapsed initially, but can be revealed by hovering over the grey bar immediately
			// below the header row. Additionally, tabbing through the document will open the filter row when an input gets focus
			filter_hideFilters : false,

			// Set this option to false to make the searches case sensitive
			filter_ignoreCase : true,

			// Delay in milliseconds before the filter widget starts searching; This option prevents searching for
			// every character while typing and should make searching large tables faster.
			filter_searchDelay : 300,

			// Set this option to true to use the filter to find text from the start of the column
			// So typing in "a" will find "albert" but not "frank", both have a's; default is false
			filter_startsWith : false,

			// Filter using parsed content for ALL columns
			// be careful on using this on date columns as the date is parsed and stored as time in seconds
			filter_useParsedData : false

		}

	});

});</script>


</head>

<body>

<h1 style="font-size:16pt">White House ethics disclosures</h1>

<p>Monitor and search new White House ethics disclosures, as posted to <a href="http://www.oge.gov/Open-Government/Access-Records/Current-Executive-Branch-Nominations-and-Appointments/">this web page.</a> ("This database contains records pertaining to individuals nominated by President Obama and to individuals who have declared their candidacy for the Office of President of the United States.)"</p>

<p>By Luke Rosiak</p>
<p>{%if updated%}Updated {{updated}}{%endif%}</p>

<p>You can search for text within some of the forms by entering it here, but because the forms are scanned images of pieces of paper, text search is not always reliable:</p>

<p>In May 2013, the White House removed more than 100 conflict of interest documents without explanation. That will be noted in the name field; the PDFs will be gone, but you can click "text" to see my OCR'd version.</p>

<form method="get" action="http://www.lukerosiak.info/oge/">
<input type="text" name="q" value="{{q}}" style="width:40em"/>
<input type="submit"/>{%if q%}<a href="/oge/">Resume viewing all documents</a> Full text of matching documents appears below the results table.{%endif%}
</form>


     <table width="100%" class="normal" id="searchtable" border="0" cellspacing="4" cellpadding="0" style="display:none;">
       <tr>
         <td width="27%"><input name="search" type="text" id="search" style="display:none;" /></td>
         <td width="73%"><div id="loader" style="display:none;"><img src="loader.gif" alt="Loader" /></div></td>
       </tr>
     </table>


<table id="table">
<thead><tr><th>Name</th><th>Agency</th><th>Position</th><th>Document</th><th>Date</th><th>Pages</th></tr></thead>
<tbody>
{%for line in results%}
<tr><td>{{line.official_name}}</td><td>{{line.official.agency}}</td><td>{{line.official.position}}</td><td>{{line.name}} {{line.link|safe}}</td><td>{{line.date}}</td><td>{%if line.pages%}{{line.pages}}{%endif%}</td></tr>
{%endfor%}
</tbody>
</table>


{%if q%}
<ul>
{%for line in results%}
<li>
<b>{{line.official.name}} | {{line.official.agency}} | {{line.official.position}} | {{line.date}} | {{line.link|safe}}</b>
<p>{{line.text|linebreaks}}</p>
</li>
{%endfor%}
</ul>
{%endif%}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36248259-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html></body>
