{% load humanize %}<html><head><title>White House ethics disclosures</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.js"></script>
<script src="http://s3.amazonaws.com/content.washingtonexaminer.biz/exography/libraries/tablesorter/jquery.tablesorter.js"></script>
	
<link rel="stylesheet" href="http://s3.amazonaws.com/wtmedia/libraries/theme.blue.css">


<script id="js">
$(function() {

	// call the tablesorter plugin
	$("#table").tablesorter({
		theme: 'blue',

        headers: {
            4: { sorter: 'date' }, // column number, type
            5: { sorter: 'digit' } // column number, type
        },
                 
		// hidden filter input/selects will resize the columns, so try to minimize the change
		widthFixed : true,

		// initialize zebra striping and filter widgets
		widgets: ["zebra"]

	});

});</script>

</head>
<body>

<h1 style="font-size:16pt">White House ethics disclosures</h1>
<p>By <a href="www.lukerosiak.info">Luke Rosiak</a></p>
<p>{%if updated%}Updated {{updated}}{%endif%}</p>

<p>Monitor and search new White House ethics disclosures, as posted to <a href="http://www.oge.gov/Open-Government/Access-Records/Current-Executive-Branch-Nominations-and-Appointments/">this web page.</a> ("This database contains records pertaining to individuals nominated by President Obama and to individuals who have declared their candidacy for the Office of President of the United States.)" Click "PDF" or "Text" to see the disclosure.</p>

<p>You can search by name, agency, position, <em>or by text appearing in the document, such as companies they have an interest in</em>, by entering it here. This site uses OCR to make the PDFs themselves searchable.</p>

<form method="get" action="/oge/">
<input type="text" name="q" value="{{q}}" style="width:40em"/>
<input type="submit"/>{%if q%}<a href="/oge/">Resume viewing all documents</a> Full text of matching documents appears below the results table. Use CTRL-F to locate your search within them.{%endif%}
</form>


     <table width="100%" class="normal" id="searchtable" border="0" cellspacing="4" cellpadding="0" style="display:none;">
       <tr>
         <td width="27%"><input name="search" type="text" id="search" style="display:none;" /></td>
         <td width="73%"><div id="loader" style="display:none;"><img src="loader.gif" alt="Loader" /></div></td>
       </tr>
     </table>


<table id="table">
<thead><tr><th>Name</th><th>Agency</th><th>Position</th><th>Document</th><th>Date</th><th>Pages</th></tr></thead>
<tbody>
{%for line in results%}
<tr><td>{{line.official_name}}</td><td>{{line.official_agency}}</td><td>{{line.official_position}}</td><td>{{line.name}} {{line.link|safe}}</td><td>{{line.date}}</td><td>{%if line.pages%}{{line.pages}}{%endif%}</td></tr>
{%endfor%}
</tbody>
</table>


{%if q%}
<ul>
{%for line in results%}
{%if line.text%}
<li>
<b><a name="{{line.pk}}">{{line.header}} | {{line.date}} | {{line.link|safe}}</a></b>
<p>{{line.text|linebreaks}}</p>
</li>
{%endif%}
{%endfor%}
</ul>
{%endif%}



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36248259-2', 'lukerosiak.info');
  ga('send', 'pageview');

</script>



</html></body>
